.navbar-header[b-te5xu9m4o3] {
    background: rgb(29,53,87) !important;
    background: linear-gradient(90deg, rgba(29,53,87,1) 11%, rgba(69,123,157,1) 86%, rgba(69,123,141,1) 99%) !important;
}

.navbar-toggler[b-te5xu9m4o3] {
    background-color: #ffffff;
    width: 50%;
    margin-bottom: 1rem;
    margin-left: 25%;
}

.navbar-holder[b-te5xu9m4o3] {
    background-color: #F1FAEE;
    border-color: #457B9D;
    border-style: solid;
    border-width: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

.navbar-brand[b-te5xu9m4o3] {
    font-size: 1.1rem;
    color: #F1FAEE;
    text-align: center;
    padding-top: 5%;

}

i[b-te5xu9m4o3] {
    margin-right: 5px;
}
/*
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #457B9D;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(69, 123, 157, 0.25);
    color: #1D3557;
}

.nav-item ::deep a:hover {
    background-color: rgba(69, 123, 157, 0.1);
    color: #1D3557;
}
*/

.dropdown[b-te5xu9m4o3]
{
    position: relative;
    display: inline-block;
}

.dropdown-content[b-te5xu9m4o3] {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content[b-te5xu9m4o3] {
    display: block;
}