.mainHolder
{
    padding: 10% 10% 25rem;
    text-align: center;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 100rem;
    border-radius: 10px;
}

.leftAlignment
{
    text-align: justify;
    text-justify: inter-word;
}