.mainHolder
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 10% 10% 25rem;
    text-align: center;
    vertical-align: top;
    border-width: 1rem;
    border-color: #274C77;
    border-style: inset;
    background-color: #E7ECEF;
    height: 100rem;
}