@page "/"

<PageTitle>Home</PageTitle>

<form class="mainHolder">
    <h1>Welcome to Spenditorium!</h1>
    <div class="leftAlignment">
            Spenditorium is an application that you can use for receiving bills from your housing / electricity / water / heating provider, while also giving you the opportunity to pay your bills, to view the statistics of how much you consumed each month or year.<br/><br/>
            The application helps you to keep track of your utility consumption and to remind you to pay your bills in time.<br/><br/>
            By watching the following tutorial video, you will be able to use the application without confusion: {LINK}<br/><br/>
            NOTE: Not all the features of the application are available yet. The system is under development, resulting in a restricted availability of functionalities.<br/><br/>
            Best wishes,<br/><br/>
            The development team<br/><br/>
    </div>
</form>

@code
{
    
}
