@page "/Providers"
@using global::Shared.Models
@using BlazorWasm.Services.Http
@using System.Security.Claims
@using System.Text.Json
@using Client_Tier1.Service
@inject NavigationManager nav
@inject IAuthService _authService

<div class="centered">
    <h3>Select a provider: </h3>
    <div class="mainHolder">
        <button type="button" class="sideHolder" onclick="@RedirectToElectricity">
            Electricity
        </button>
        <button type="button" class="sideHolder" onclick="@RedirectToHeating">
            Heating
        </button>
        <button type="button" class="sideHolder" onclick="@RedirectToHousing">
            Housing
        </button>
        <button type="button" class="sideHolder" onclick="@RedirectToWater">
            Water
        </button>

    </div>
</div>

@code {

    private bool[] subs { get; set; } = new bool[4]{ true, true, true, true };

    /*
    protected override async Task OnInitializedAsync()
    {
        //Get values for subscribed providers
        subs = JsonSerializer.Deserialize<bool[]>(_authService.GetAuthAsync().Result.FindFirst("subscriptions")?.Value);
    }
    */
    
    // Checks if client is subscribed to that provider in the system
    void RedirectToElectricity()
    {
        if (subs[0])
            nav.NavigateTo($"/Electricity");
    }

    void RedirectToHeating()
    {
        if (subs[1])
            nav.NavigateTo($"/Heating");
    }

    void RedirectToHousing()
    {
        if (subs[2])
            nav.NavigateTo($"/Housing");
    }

    void RedirectToWater()
    {
        if (subs[3])
            nav.NavigateTo($"/Water");
    }

}