@page "/Providers"
@inject NavigationManager nav

<div class="centered">
    <h3>Select a provider: </h3>
    <div class="mainHolder">
        <button type="button" class="sideHolder" onclick="@RedirectToElectricity">
            Electricity
        </button>
        <button type="button" class="sideHolder" onclick="@RedirectToHeating">
            Heating
        </button>
        <button type="button" class="sideHolder" onclick="@RedirectToHousing">
            Housing
        </button>
        <button type="button" class="sideHolder" onclick="@RedirectToWater">
            Water
        </button>

    </div>
</div>

@code {

    void RedirectToHeating()
    {
        nav.NavigateTo($"/Heating");
    }

    void RedirectToHousing()
    {
        nav.NavigateTo($"/Housing");
    }

    void RedirectToWater()
    {
        nav.NavigateTo($"/Water");
    }

    void RedirectToElectricity()
    {
        nav.NavigateTo($"/Electricity");
    }

}