@page "/Providers"

<div class="centered">
    <h3>Select a provider: </h3>
    <div class="mainHolder">
        <div class="sideHolder" href="">
            Heating
        </div>
        <div class="sideHolder">
            Housing
        </div>
        <div class="sideHolder">
            Water
        </div>
        <div class="sideHolder">
            Electricity
        </div>
        
    </div>
</div>

@code {

}