.mainHolder
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.centered
{
    text-align: center;
}

.space
{
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.split
{
    height: 23rem;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 3.1rem;
    overflow-x: hidden;
}

.leftAlignment
{
    left: 0;
    text-align: right;
    width: 50%;
}
.rightAlignment
{
    right: 0;
    text-align: left;
}

ul
{
    padding-top: 2rem;
    padding-left: 2px;
    padding-right: 2px;
}

li
{
    margin-bottom: 1%;
}

.error
{
    color: red;
    text-shadow: 2px 1px darkred;
}