.mainHolder
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: center;
    vertical-align: top;
    border-width: 1rem;
    border-color: #274C77;
    border-style: inset;
    background-color: #E7ECEF;
    height: 25rem;
}