.page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:0;
}

.top-row {
    padding-top: 0.5rem;
    text-align: right;
    position: absolute;
    right: 3rem;
}

main {
    flex: 1;
    background-color: #A8DADC;
    gap: 0;
}

.sidebar {
    margin-right: 0;
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
}

.bckg-image {
    background-position-y: 12.4rem;
    background-image: url("./images/bckg.png") !important;
    background-repeat:no-repeat !important;
    background-attachment: fixed;
    background-size: 20rem 65rem;
}