@inject NavigationManager nav

<div class="navbar-header">
    <div class="container-fluid">
        <div class="navbar-brand">Spenditorium</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"></button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="navbar-holder">
        <div onclick="@RedirectToHome">
            <i class="fa fa-cloud">
                <span class="oi oi-home" aria-hidden="true"></span>
            </i> Home
        </div>
        <div class="nav-item px-3">
            <i class="fa fa-cloud">
                <span class="oi oi-folder dropdown"> Providers</span>
                <div class="dropdown-content">
                    hello?
                </div>
            </i>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void RedirectToHome()
    {
        nav.NavigateTo($"/");
    }

}