.icon-client {
    text-align: right;
    height: 3.5rem;
    width: 3.5rem;
}

.collapsed-content {
    position: sticky;
    width: 20rem;
}

.collapsed-components {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #457B9D;
    border-radius: 5px;
    color: white;
}

.buttons
{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonsAuth
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin: auto;
    width: 40%;
}