.icon-client {
    text-align: right;
    height: 3.5rem;
    width: 3.5rem;
}

.collapsed-content {
    position: sticky;
    background-color: rgba(69, 123, 157, 0.95);
    border-radius: 5px;
}

.unAuth
{
    width: 20rem;
    flex-direction: column;
    justify-content: space-around;
}

.doAuth
{
    height: 10rem;
    flex-direction: column;
    gap: 0;
}

.collapsed-components {
    padding: 0.3rem;
    display: flex;
}

.buttons
{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
}

.buttonAuthorised
{
    margin: auto 0 auto auto;
    background-color: #A8DADC;
    border-radius: 2rem;
    padding: 4px;
    width: fit-content;
}

.buttonAuthorised:hover
{
    background-color: #84aeb0;
    color: #d7f3f5;
}

.text-color-authorise
{
    color: gainsboro;
}

.errorLabel
{
    color: red;
}