/* /Pages/Index.razor.rz.scp.css */
.mainHolder[b-fv7a5lpsma]
{
    padding: 10% 10% 25rem;
    text-align: center;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 100rem;
    border-radius: 10px;
}
/* /Pages/Providers.razor.rz.scp.css */
.mainHolder[b-2d12ez9ru6]
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: center;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 55rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 3rem;
}

.centered[b-2d12ez9ru6]
{
    text-align: center;
}

.sideHolder[b-2d12ez9ru6]
{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: #1D3557;
    width: 15rem;
    
    background-color: rgba(69, 123, 157, 0.3);
}

.sideHolder:hover[b-2d12ez9ru6] {
    background-color: rgba(69, 123, 157, 0.1);
    color: #1D3557;
}

.sideHolder:active[b-2d12ez9ru6] {
    background-color: rgba(69, 123, 157, 1);
    color: #1D3557;
}
/* /Pages/Register.razor.rz.scp.css */
.mainHolder[b-5t8cvge0o1]
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.centered[b-5t8cvge0o1]
{
    text-align: center;
}

.space[b-5t8cvge0o1]
{
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.split[b-5t8cvge0o1]
{
    height: 23rem;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 3.1rem;
    overflow-x: hidden;
}

.leftAlignment[b-5t8cvge0o1]
{
    left: 0;
    text-align: right;
    width: 50%;
}
.rightAlignment[b-5t8cvge0o1]
{
    right: 0;
    text-align: left;
}

ul[b-5t8cvge0o1]
{
    padding-top: 2rem;
    padding-left: 2px;
    padding-right: 2px;
}

li[b-5t8cvge0o1]
{
    margin-bottom: 1%;
}

.error[b-5t8cvge0o1]
{
    color: red;
    text-shadow: 2px 1px darkred;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-e1ogp90w9a] {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:0;
}

.top-row[b-e1ogp90w9a] {
    padding-top: 0.5rem;
    text-align: right;
    position: absolute;
    right: 3rem;
}

main[b-e1ogp90w9a] {
    flex: 1;
    background-color: #A8DADC;
    gap: 0;
}

.sidebar[b-e1ogp90w9a] {
    margin-right: 0;
}


@media (min-width: 641px) {
    .page[b-e1ogp90w9a] {
        flex-direction: row;
    }

    .sidebar[b-e1ogp90w9a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
}

.bckg-image[b-e1ogp90w9a] {
    background-position-y: 12.4rem;
    background-image: url("./images/bckg.png") !important;
    background-repeat:no-repeat !important;
    background-attachment: fixed;
    background-size: 20rem 65rem;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-header[b-te5xu9m4o3] {
    background: rgb(29,53,87) !important;
    background: linear-gradient(90deg, rgba(29,53,87,1) 11%, rgba(69,123,157,1) 86%, rgba(69,123,141,1) 99%) !important;
}

.navbar-toggler[b-te5xu9m4o3] {
    background-color: #ffffff;
    width: 50%;
    margin-bottom: 1rem;
    margin-left: 25%;
}

.navbar-holder[b-te5xu9m4o3] {
    background-color: #F1FAEE;
    border-color: #457B9D;
    border-style: solid;
    border-width: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

.navbar-brand[b-te5xu9m4o3] {
    font-size: 1.1rem;
    color: #F1FAEE;
    text-align: center;
    padding-top: 5%;

}

.nav-item[b-te5xu9m4o3] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-te5xu9m4o3] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-te5xu9m4o3] {
        padding-bottom: 1rem;
    }

    .nav-item[b-te5xu9m4o3]  a {
        color: #457B9D;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-te5xu9m4o3]  a.active {
    background-color: rgba(69, 123, 157, 0.25);
    color: #1D3557;
}

.nav-item[b-te5xu9m4o3]  a:hover {
    background-color: rgba(69, 123, 157, 0.1);
    color: #1D3557;
}

/* /Shared/TopBar.razor.rz.scp.css */
.icon-client[b-u8wv99off7] {
    text-align: right;
    height: 3.5rem;
    width: 3.5rem;
}

.collapsed-content[b-u8wv99off7] {
    position: sticky;
    width: 20rem;
}

.collapsed-components[b-u8wv99off7] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #457B9D;
    border-radius: 5px;
    color: white;
}

.buttons[b-u8wv99off7]
{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
