/* /Pages/Companies/Electricity.razor.rz.scp.css */
.mainHolder[b-gmz283c75z] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-gmz283c75z] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-gmz283c75z] 
{
    background-color: #DCF3D4;
}

th[b-gmz283c75z] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-gmz283c75z] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-gmz283c75z] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Companies/Heating.razor.rz.scp.css */
.mainHolder[b-uy0vlg8pwy] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-uy0vlg8pwy] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-uy0vlg8pwy]
{
    background-color: #DCF3D4;
}

th[b-uy0vlg8pwy] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-uy0vlg8pwy] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-uy0vlg8pwy] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Companies/Housing.razor.rz.scp.css */
.mainHolder[b-cplwvizjc0] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-cplwvizjc0] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-cplwvizjc0]
{
    background-color: #DCF3D4;
}

th[b-cplwvizjc0] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-cplwvizjc0] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-cplwvizjc0] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Companies/ViewBill.razor.rz.scp.css */
.mainHolder[b-zuk7msvaon] 
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.bill-header[b-zuk7msvaon]
{
    border-bottom-style: solid;
    border-bottom-color: rgba(69, 123, 157, 1);
}

.bill-item[b-zuk7msvaon]
{
    border-radius: 12px;
    border-bottom-style: solid;
    border-bottom-color: rgba(69, 123, 157, 0.5);
    padding: 4px;
}

.bill-item-category[b-zuk7msvaon]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space[b-zuk7msvaon]
{
    padding: 2rem;
}

.even-coloring[b-zuk7msvaon]
{
    background-color: #A8DADC;
}

.text-color[b-zuk7msvaon]
{
    color: #1c1c1c;
}

.buttonHolder[b-zuk7msvaon]
{
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #457B9D;
    border-radius: 5rem;
}

.buttonHolder:hover[b-zuk7msvaon]
{
    background-color: rgba(69, 123, 157, 0.8);
}

.payButton[b-zuk7msvaon]
{
    color: white;
}
/* /Pages/Companies/Water.razor.rz.scp.css */
.mainHolder[b-0chmhzq9jo] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-0chmhzq9jo] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-0chmhzq9jo]
{
    background-color: #DCF3D4;
}

th[b-0chmhzq9jo] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-0chmhzq9jo] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-0chmhzq9jo] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Index.razor.rz.scp.css */
.mainHolder[b-fv7a5lpsma]
{
    padding: 10% 10% 25rem;
    text-align: center;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 100rem;
    border-radius: 10px;
}

.leftAlignment[b-fv7a5lpsma]
{
    text-align: justify;
    text-justify: inter-word;
}
/* /Pages/Profile.razor.rz.scp.css */
.mainHolder[b-ucleqlowbm] 
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

.clientInfo[b-ucleqlowbm]
{
    border-radius: 10rem;
    padding: 3rem;
    background-color: rgba(69, 123, 157, 0.1);
    display: flex;
    flex-direction: column;
}

.clientInfo-item[b-ucleqlowbm]
{
    text-align: center;
}

.card[b-ucleqlowbm]
{
    width: fit-content;
}
/* /Pages/Register.razor.rz.scp.css */
.mainHolder[b-5t8cvge0o1]
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 37rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
}

.subscriptions[b-5t8cvge0o1]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subItem[b-5t8cvge0o1]
{
    display: none;
}

.subItem:checked + label[b-5t8cvge0o1]
{
    border-style: solid;
    border-color: #1D3557;
    border-radius: 10px;
    padding: 5px;
}


.centered[b-5t8cvge0o1]
{
    width: 50%;
    margin: auto;
}

.space[b-5t8cvge0o1]
{
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.split[b-5t8cvge0o1]
{
    height: 23rem;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 3.1rem;
    overflow-x: hidden;
}

.leftAlignment[b-5t8cvge0o1]
{
    left: 0;
    text-align: right;
    width: 50%;
}
.rightAlignment[b-5t8cvge0o1]
{
    right: 0;
    text-align: left;
}

ul[b-5t8cvge0o1]
{
    padding-top: 2rem;
    padding-left: 2px;
    padding-right: 2px;
}

li[b-5t8cvge0o1]
{
    margin-bottom: 1%;
}

.error[b-5t8cvge0o1]
{
    color: red;
    text-shadow: 2px 1px darkred;
}

.success[b-5t8cvge0o1]
{
    color: forestgreen;
    text-shadow: 2px 1px darkgreen;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-e1ogp90w9a] {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:0;
}

.top-row[b-e1ogp90w9a] {
    padding-top: 0.5rem;
    text-align: right;
    position: absolute;
    right: 3rem;
}

main[b-e1ogp90w9a] {
    flex: 1;
    background-color: #A8DADC;
    gap: 0;
}

.sidebar[b-e1ogp90w9a] {
    margin-right: 0;
}


@media (min-width: 641px) {
    .page[b-e1ogp90w9a] {
        flex-direction: row;
    }

    .sidebar[b-e1ogp90w9a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
}

.bckg-image[b-e1ogp90w9a] {
    background-position-y: 12.4rem;
    background-image: url("./images/bckg.png") !important;
    background-repeat:no-repeat !important;
    background-attachment: fixed;
    background-size: 20rem 65rem;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-header[b-te5xu9m4o3] {
    background: rgb(29,53,87) !important;
    background: linear-gradient(90deg, rgba(29,53,87,1) 11%, rgba(69,123,157,1) 86%, rgba(69,123,141,1) 99%) !important;
}

.navbar-toggler[b-te5xu9m4o3] {
    background-color: #ffffff;
    width: 50%;
    margin-bottom: 1rem;
    margin-left: 25%;
}

.navbar-holder[b-te5xu9m4o3] {
    background-color: #F1FAEE;
    border-color: #457B9D;
    border-style: solid;
    border-width: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

.navbar-brand[b-te5xu9m4o3] {
    font-size: 1.1rem;
    color: #F1FAEE;
    text-align: center;
    padding-top: 5%;

}

i[b-te5xu9m4o3] {
    margin-right: 5px;
}

.nav-item[b-te5xu9m4o3]
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(168, 218, 220, 0.1);
}

.nav-item:hover[b-te5xu9m4o3]
{
    background-color: rgba(168, 218, 220, 0.4);
}

.nav-item:focus[b-te5xu9m4o3]
{
    background-color: rgba(168, 218, 220, 0.8);
}

.dropdown[b-te5xu9m4o3]
{
    width: 100%;
}

.dropdown-content[b-te5xu9m4o3] {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    display: none;
    position: absolute;
    background-color: #F1FAEE;
    width: 100%;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content[b-te5xu9m4o3] {
    display: flex;
    flex-direction: column;
}

.dropdown-content-item[b-te5xu9m4o3]
{
    background-color: rgba(168, 218, 220, 0.1);
    width: 100%;
}

.dropdown-content-item:hover[b-te5xu9m4o3]
{
    background-color: rgba(168, 218, 220, 0.4);
}

.dropdown-content-item:focus[b-te5xu9m4o3]
{
    background-color: rgba(168, 218, 220, 0.8);
}
/* /Shared/TopBar.razor.rz.scp.css */
.icon-client[b-u8wv99off7] {
    text-align: right;
    height: 3.5rem;
    width: 3.5rem;
}

.collapsed-content[b-u8wv99off7] {
    position: sticky;
    background-color: rgba(69, 123, 157, 0.95);
    border-radius: 5px;
}

.unAuth[b-u8wv99off7]
{
    width: 20rem;
    flex-direction: column;
    justify-content: space-around;
}

.doAuth[b-u8wv99off7]
{
    height: 10rem;
    flex-direction: column;
    gap: 0;
}

.collapsed-components[b-u8wv99off7] {
    padding: 0.3rem;
    display: flex;
}

.buttons[b-u8wv99off7]
{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
}

.buttonAuthorised[b-u8wv99off7]
{
    margin: auto 0 auto auto;
    background-color: #A8DADC;
    border-radius: 2rem;
    padding: 4px;
    width: fit-content;
}

.buttonAuthorised:hover[b-u8wv99off7]
{
    background-color: #84aeb0;
    color: #d7f3f5;
}

.text-color-authorise[b-u8wv99off7]
{
    color: gainsboro;
}

.error[b-u8wv99off7]
{
    color: red;
    text-shadow: 2px 1px darkred;
}

.success[b-u8wv99off7]
{
    color: forestgreen;
    text-shadow: 2px 1px darkgreen;
}
