@page "/Water"
@using global::Shared.Models
@using Client_Tier1.Service
<h3>@CompanyName</h3>

@code {
    private string CompanyName { get; set; } = "Wateron";

    private List<Bill> bills = new List<Bill>();

    
    /*
    protected override async Task OnInitializedAsync()
    {
        // Gets id from claims, and Company name "Electricity" to parse it to "GetBillsById" and return a list of bills
        bills = await _clientService.GetBillsById(JsonSerializer.Deserialize<int>(_authService.GetAuthAsync().Result.FindFirst("id")?.Value), "Water");
    }
*/
}