/* /Pages/Index.razor.rz.scp.css */
.mainHolder[b-fv7a5lpsma]
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 10% 10% 25rem;
    text-align: center;
    vertical-align: top;
    border-width: 1rem;
    border-color: #274C77;
    border-style: inset;
    background-color: #E7ECEF;
    height: 100rem;
}
/* /Pages/Register.razor.rz.scp.css */
.mainHolder[b-5t8cvge0o1]
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: center;
    vertical-align: top;
    border-width: 1rem;
    border-color: #274C77;
    border-style: inset;
    background-color: #E7ECEF;
    height: 25rem;
}

.space[b-5t8cvge0o1]
{
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.split[b-5t8cvge0o1]
{
    height: 23rem;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 6.61rem;
    overflow-x: hidden;
}

.leftAlignment[b-5t8cvge0o1]
{
    left: 0;
    border-right-style: inherit;
    border-right-width: 5px;
    border-color: #A3CEF1;
    text-align: right;
}
.rightAlignment[b-5t8cvge0o1]
{
    right: 0;
    text-align: left;
}

ul[b-5t8cvge0o1]
{
    padding-top: 2rem;
    padding-left: 2px;
    padding-right: 2px;
}

li[b-5t8cvge0o1]
{
    margin-bottom: 1%;
}

.error[b-5t8cvge0o1]
{
    color: red;
    text-shadow: 2px 1px darkred;
}
/* /Shared/LoginDisplay.razor.rz.scp.css */
.space[b-ijgv2nuybc]
{
    padding-right: 1rem;
}

.error[b-ijgv2nuybc]
{
    color: red;
    text-shadow: 2px 1px darkred;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-e1ogp90w9a] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-e1ogp90w9a] {
    flex: 1;
    background-color: #8B8C89;
}

.sidebar[b-e1ogp90w9a] {
    background-color: #6096BA;
}
 
.top-row[b-e1ogp90w9a] {
    background-color: #6096BA;
    border-bottom: 1px solid #8B8C89;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-e1ogp90w9a]  a, .top-row[b-e1ogp90w9a]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-e1ogp90w9a]  a:hover, .top-row[b-e1ogp90w9a]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-e1ogp90w9a]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-e1ogp90w9a] {
        display: none;
    }

    .top-row.auth[b-e1ogp90w9a] {
        justify-content: space-between;
    }

    .top-row[b-e1ogp90w9a]  a, .top-row[b-e1ogp90w9a]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-e1ogp90w9a] {
        flex-direction: row;
    }

    .sidebar[b-e1ogp90w9a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-e1ogp90w9a] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-e1ogp90w9a]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-e1ogp90w9a], article[b-e1ogp90w9a] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-te5xu9m4o3] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-te5xu9m4o3] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-te5xu9m4o3] {
    font-size: 1.1rem;
}

.oi[b-te5xu9m4o3] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-te5xu9m4o3] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-te5xu9m4o3] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-te5xu9m4o3] {
        padding-bottom: 1rem;
    }

    .nav-item[b-te5xu9m4o3]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-te5xu9m4o3]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-te5xu9m4o3]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-te5xu9m4o3] {
        display: none;
    }

    .collapse[b-te5xu9m4o3] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
