/* /Pages/Companies/Electricity.razor.rz.scp.css */
.mainHolder[b-gmz283c75z] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-gmz283c75z] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-gmz283c75z] 
{
    background-color: #DCF3D4;
}

th[b-gmz283c75z] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-gmz283c75z] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-gmz283c75z] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Companies/Heating.razor.rz.scp.css */
.mainHolder[b-uy0vlg8pwy] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-uy0vlg8pwy] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-uy0vlg8pwy]
{
    background-color: #DCF3D4;
}

th[b-uy0vlg8pwy] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-uy0vlg8pwy] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-uy0vlg8pwy] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Companies/Housing.razor.rz.scp.css */
.mainHolder[b-cplwvizjc0] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-cplwvizjc0] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-cplwvizjc0]
{
    background-color: #DCF3D4;
}

th[b-cplwvizjc0] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-cplwvizjc0] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-cplwvizjc0] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Companies/Water.razor.rz.scp.css */
.mainHolder[b-0chmhzq9jo] {
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    width: 80%;
}

table[b-0chmhzq9jo] {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd)[b-0chmhzq9jo]
{
    background-color: #DCF3D4;
}

th[b-0chmhzq9jo] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #457B9D;
    color: white;
}


.collapsed-content[b-0chmhzq9jo] {
    position: sticky;
    width: 100%;
}

.collapsed-components[b-0chmhzq9jo] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(168, 218, 220, 0.2);
    border-radius: 150px;
    color: #1D3557;
}
/* /Pages/Index.razor.rz.scp.css */
.mainHolder[b-fv7a5lpsma]
{
    padding: 10% 10% 25rem;
    text-align: center;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 100rem;
    border-radius: 10px;
}
/* /Pages/Providers.razor.rz.scp.css */
.mainHolder[b-2d12ez9ru6]
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    vertical-align: top;
    align-items: center;
    background-color: #F1FAEE;
    height: 45rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 3rem;
}

.centered[b-2d12ez9ru6]
{
    width: 50%;
    margin: auto;
    text-align: center;
}

.sideHolder[b-2d12ez9ru6]
{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-color: #1D3557;
    width: 15rem;
    background-color: rgba(69, 123, 157, 0.3);
}

.sideHolder:hover[b-2d12ez9ru6] {
    background-color: rgba(69, 123, 157, 0.1);
    color: #1D3557;
}

.sideHolder:active[b-2d12ez9ru6] {
    background-color: rgba(69, 123, 157, 1);
    color: #1D3557;
}
/* /Pages/Register.razor.rz.scp.css */
.mainHolder[b-5t8cvge0o1]
{
    padding: 2rem 4rem 4rem;
    margin: 1rem 10% 10%;
    text-align: left;
    vertical-align: top;
    background-color: #F1FAEE;
    height: 37rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
}

.subscriptions[b-5t8cvge0o1]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subItem[b-5t8cvge0o1]
{
    display: none;
}

.subItem:checked + label[b-5t8cvge0o1]
{
    border-style: solid;
    border-color: #1D3557;
    border-radius: 10px;
    padding: 5px;
}


.centered[b-5t8cvge0o1]
{
    width: 50%;
    margin: auto;
}

.space[b-5t8cvge0o1]
{
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.split[b-5t8cvge0o1]
{
    height: 23rem;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 3.1rem;
    overflow-x: hidden;
}

.leftAlignment[b-5t8cvge0o1]
{
    left: 0;
    text-align: right;
    width: 50%;
}
.rightAlignment[b-5t8cvge0o1]
{
    right: 0;
    text-align: left;
}

ul[b-5t8cvge0o1]
{
    padding-top: 2rem;
    padding-left: 2px;
    padding-right: 2px;
}

li[b-5t8cvge0o1]
{
    margin-bottom: 1%;
}

.error[b-5t8cvge0o1]
{
    color: red;
    text-shadow: 2px 1px darkred;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-e1ogp90w9a] {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:0;
}

.top-row[b-e1ogp90w9a] {
    padding-top: 0.5rem;
    text-align: right;
    position: absolute;
    right: 3rem;
}

main[b-e1ogp90w9a] {
    flex: 1;
    background-color: #A8DADC;
    gap: 0;
}

.sidebar[b-e1ogp90w9a] {
    margin-right: 0;
}


@media (min-width: 641px) {
    .page[b-e1ogp90w9a] {
        flex-direction: row;
    }

    .sidebar[b-e1ogp90w9a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
}

.bckg-image[b-e1ogp90w9a] {
    background-position-y: 12.4rem;
    background-image: url("./images/bckg.png") !important;
    background-repeat:no-repeat !important;
    background-attachment: fixed;
    background-size: 20rem 65rem;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-header[b-te5xu9m4o3] {
    background: rgb(29,53,87) !important;
    background: linear-gradient(90deg, rgba(29,53,87,1) 11%, rgba(69,123,157,1) 86%, rgba(69,123,141,1) 99%) !important;
}

.navbar-toggler[b-te5xu9m4o3] {
    background-color: #ffffff;
    width: 50%;
    margin-bottom: 1rem;
    margin-left: 25%;
}

.navbar-holder[b-te5xu9m4o3] {
    background-color: #F1FAEE;
    border-color: #457B9D;
    border-style: solid;
    border-width: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

.navbar-brand[b-te5xu9m4o3] {
    font-size: 1.1rem;
    color: #F1FAEE;
    text-align: center;
    padding-top: 5%;

}

i[b-te5xu9m4o3] {
    margin-right: 5px;
}
/*
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #457B9D;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(69, 123, 157, 0.25);
    color: #1D3557;
}

.nav-item ::deep a:hover {
    background-color: rgba(69, 123, 157, 0.1);
    color: #1D3557;
}
*/

.dropdown[b-te5xu9m4o3]
{
    position: relative;
    display: inline-block;
}

.dropdown-content[b-te5xu9m4o3] {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content[b-te5xu9m4o3] {
    display: block;
}
/* /Shared/TopBar.razor.rz.scp.css */
.icon-client[b-u8wv99off7] {
    text-align: right;
    height: 3.5rem;
    width: 3.5rem;
}

.collapsed-content[b-u8wv99off7] {
    position: sticky;
    width: 20rem;
}

.collapsed-components[b-u8wv99off7] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #457B9D;
    border-radius: 5px;
    color: white;
}

.buttons[b-u8wv99off7]
{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonsAuth[b-u8wv99off7]
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin: auto;
    width: 40%;
}
